
<div class="row">
    <div class="table-responsive col-md-9" style="display: inline-block">
            <table #table class="table v-middle col-md-12">
                <thead>
                    <tr class="bg-light">
                        <th>Designation</th>
                        <th style="width: 20%" align="center">Qté Stock</th>
                        <th class="text-center">Option</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>choisir</option>
                                    <option value="1">cratère</option>
                                    <option value="2">Boxe</option>
                                    <option value="3">Bourse</option>
                                </select>
                            </td>

                            <td class="text-center"><input placeholder="0" class="form-control" type="number" min="1" step="1" ></td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="text-inverse" title="Ajouter à la liste"><i class="fas fa-plus"></i></a>
                            </td>
                        </tr>
                    </tbody>
            </table>

        </div>
        <div class="col-md-3">
        <div class="comment-widgets scrollable" style="height:auto;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">SAISIE D'INFORMATION</h5>
                    <hr>
                    <small>Fournisseur :<span class="font-12 text-danger">&nbsp;*</span></small>
                    <div class="form-group m-b-30">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Fournisseurs</option>
                            <option value="1">SANDE</option>
                            <option value="2">DOUMBIA</option>
                            <option value="3">YVES</option>
                        </select>
                    </div>
                    <small>Raison Social :<span class="font-12 text-danger">&nbsp;*</span></small>
                     <input type="text" class="form-control" placeholder="Saisir la raison sociale">
                    
                    <small>Adresse :<span class="font-12 text-danger">&nbsp;*</span></small>
                    <input type="text" class="form-control" placeholder="Saisir votre addresse">
                </div>
            </div>
        </div>
    </div>
    <!--Liste des arrivages-->
    
    <div class="page-breadcrumb" style="margin-bottom: 30px">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">Liste des Arrivages</h4>
                <div class="d-flex align-items-center">

                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 col-lg-12">
        <div class="table-responsive">
            <table class="table product-overview">
                <thead>
                    <tr>
                        <th align="center">N°</th>
                        <th align="center">Designation</th>
                        <th align="center">Qté Stock</th>
                        <th align="center">Action</th>
                    </tr>
                </thead>
                <tbody class="t">
                    <tr>
                        <td>1</td>
                        <td>
                        abenasole
                        </td>
                        <td>16</td>
                        
                        <td class="text-center">
                            <a  href="javascript:void(0)" class=" mr-3 text-inverse" title="Supprimer de la liste"><i class="text-danger ti-close text-dark"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                        abenasole
                        </td>
                        <td>16</td>
                        
                        <td class="text-center">
                            <a  href="javascript:void(0)" class=" mr-3 text-inverse" title="Supprimer de la liste"><i class="text-danger ti-close text-dark"></i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="form-actions" style="width: 100%;margin-top: 40px">
        <div class="text-center">
            <button type="submit" class="btn btn-success m-r-5">Nouveau</button>
            <button type="submit" class="btn btn-warning m-r-5">Modifier</button>
            <button type="submit" class="btn btn-info">Imprimer</button>
        </div>
    </div>
</div>
<div class="imprimer" id='sectionAimprimer'>
    <div class="milieu">
        <div class="gauche">
            <h2>CSUCOM <br> RIVIERA PLAMERAIE</h2>
            <h4>04 BP 2258 ABIDJAN 04</h4>
            <h4>TEL : 22 47 26 78</h4>
        </div>
        <div class="droit">
            <div class="titre">
                <h2 style="">Liste des Arrivages</h2>
                <p class="rotate"></p>
            </div>
            
        </div>
    </div>
    <br><hr style="margin-top: 20px">
    
    <br><br>
        <table class="tableau" border="1">
            <thead>
                <th align="center">N°</th>
                <th align="center">Designation</th>
                <th align="center">Qté Stock</th>
                <th align="center">Action</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                    abenasole
                    </td>
                    <td>16</td>
                    
                    <td class="text-center">
                        <a  href="javascript:void(0)" class=" mr-3 text-inverse" title="Supprimer de la liste"><i class="text-danger ti-close text-dark"></i></a>
                    </td>
                </tr>
                
            </tbody>
    
        </table>
            <style type="text/css" media="screen">
                .imprimer
                {
                    display:none;
                }
                
            </style>
    <style type="text/css" media="print">
        *{
            box-sizing: border-box;
        }
        body{
            margin: 50px;
        }
        .milieu{
            width: 98%;
            height: 160px;
            margin: 10px;
            margin-top: 30px;
        }
        .gauche{
            float: left;
            width: 23%;
            background-color: #eeeeee;
            height: 160px;
            padding-left: 10px
        }
        .droit{
            float: right;
            width: 70%;
            background-color: #eeeeee;
            height: 160px;
        }
        .titre{
            width: 80%;
            float: left;
            height: 80px;
            border: 2px solid black;
            margin-top: 30px;
            margin-left: 30px;
            text-align: center;
        }
        .tableau1{
            border-collapse: collapse;
            width: 100%;
            height: 40px;
            font-size: 20px
        }
        .debut{
            width: 80%;
            border: 1px solid black;
            height: 40px;
            margin-top: 30px;
            margin-left: 10%;
            text-align: center;
            font-size: 30px;
    
        }
        .tableau{
                width: 100%;
                height: 100%;
                border-collapse: collapse;
                text-align: center;
            }
            .imprimer
                {
                    display:block;
                }
            .rotate{
                writing-mode: tb-rl;
                height: 80%; margin: 10% 0%;
            }
    
        </style>
        </div>
    <script>
    function imprimer() {
          var printContents = document.getElementById('sectionAimprimer').innerHTML;    
       var originalContents = document.body.innerHTML;      
       document.body.innerHTML = printContents;     
       window.print();     
       document.body.innerHTML = originalContents;
       }
    </script>