<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nom<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input autofocus type="text" id="firstName" class="form-control" placeholder=""> 
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Prenom<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input type="text" id="firstName" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Raison social<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input  type="text" id="firstName" class="form-control" placeholder=""> 
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">E-mail</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Adresse<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input type="text" id="firstName" class="form-control" placeholder=""> 
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Contact<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input type="text" id="firstName" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Téléphone</label>
                                    <input type="text" id="firstName" class="form-control" placeholder=""> 
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fax</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">N° Compte bancaire</label>
                                    <input type="text" id="firstName" class="form-control" placeholder=""> 
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Solde Initial</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                         <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">N° C.C</label>
                                    <input type="text" id="firstName" class="form-control" placeholder=""> 
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-success m-r-5" style="margin-top: 6%">
                                        <i class="fa fa-check"></i> Enregister</button>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>