<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Liste des patients à libéré</h4>
            </div>
            <div class="ml-auto">
                <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected="">Aujourd'hui</option>
                        <option value="1">Cette semaine</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- title -->
    </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Nom & Prénom(s)</th>
                    <th class="border-top-0">Chambre</th>
                    <th class="border-top-0">Lit</th>
                    <th class="border-top-0">Service ou prestation</th>
                    <th class="border-top-0">Date</th>
                    <th class="border-top-0">Heure de sortie</th>
                    <th class="border-top-0">Statut</th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="m-r-10">
                                    <a class="btn btn-circle btn-danger text-white">KA</a>
                                </div>
                                <div class="">
                                    <h4 class="m-b-0 font-16">{{item.name}} {{item.firstname}} </h4>
                                </div>
                            </div>
                        </td>
                        <td>CH&nbsp;{{item.chambre}}</td>
                        <td>L&nbsp;{{item.lit}}</td>
                        <td>
                            <h5 class="m-b-0">Mise en Observation</h5>
                        </td>
                        <td>{{item.back_date}}</td>
                        <td>{{item.heur}}</td>
                        <td>
                            <label *ngIf="1 == item.etat" class="label label-success label-rounded">Libéré</label>
                            <label *ngIf="0 == item.etat" class="label label-danger label-rounded">Observé</label>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
    </div>