
<div class="row">
    <div class="table-responsive col-md-9" style="display: inline-block">
            <table #table class="table v-middle col-md-12">
                <thead>
                    <tr class="bg-light">
                        <th>N°</th>
                        <th style="width: 50%">Famille</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr *ngFor="let item of data; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ item.name }}</td>
                            <td class="text-right">
                                <a href="javascript:void(0)" (click)="deleteItem(item.id, 'ph_famille')" class="text-danger" title="Supprimer de la liste"><i class="ti-close"></i></a>
                            </td>
                        </tr>
                    </tbody>
            </table>

        </div>
        <div class="col-md-3">
        <div class="comment-widgets scrollable" style="height:auto;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">SAISIE D'INFORMATION</h5>
                    <hr>
                   <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <small>Libéllé de la famille :<span class="font-12 text-danger">&nbsp;*</span></small>
                        <input type="text" required ngModel name="name" class="form-control" placeholder="Saisir libéllé">
                        <div class="form-actions" style="width: 100%;margin-top: 40px">
                            <div class="text-center">
                                <button [disabled]="!f.form.valid" type="submit" class="btn btn-success m-r-5">Nouveau</button>
                            </div>
                        </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>