<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <button class="btn btn-info" type="button"><i class="fa fa-print"></i>   imprimer</button>
            </div>
            <div class="ml-auto">
                <div class="dl">
                    <form class="m-b-0" style="width: 200px">
                      <input type='text' class="form-control" placeholder='Rechercher...' (keyup)='updateFilter($event)' />
                    </form>
                </div>
            </div>
        </div>
        <!-- title -->
    </div>
    <div class="table-responsive">
        <table #table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">N°</th>
                    <th class="border-top-0">NOM</th>
                    <th class="border-top-0">Prenom(s)</th>
                    <th class="border-top-0">N° CNI</th>
                    <th class="border-top-0">Contact</th>
                    <th class="border-top-0">Specialité</th>
                    <th class="border-top-0">E-mail</th>
                    <th class="border-top-0">Ville/Résidence</th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let item of collection; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.firstname }}</td>
                        <td>{{ item.cni }}</td>
                        <td>{{ item.number }}</td>
                        <td>{{ item.specilalite }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.habitation }}</td>
                    </tr>
                </tbody>
        </table>
    </div>
    </div>