<div class="row">
    <!-- Column -->
    <div class="col-md-9 col-lg-9">
        <div class="card">
            <div class="card-body">
                <button style="background:#c1c1c1" class="mb-2 btn btn-light" [routerLink]="['/ecom/products']"><i class="mdi mdi-arrow-left-bold"></i>  Retour</button>
                <div class="table-responsive">
                    <table class="table v-middle product-overview" id="zero_config">
                        <thead>
                            <tr>
                                <th style="width: 1%">N°</th>
                                <th>Designation</th>
                                <th>Prix</th>
                                <th>Qte en stock</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of collection; let i = index">
                                <td>{{ i+1 }}</td>
                                <td>{{ item.libelle }}</td>
                                <td>{{ item.priceVente }}</td>
                                <td>{{ item.qte }}</td>
                                <td class="text-right">
                                    <a (click)="removeItem(i)" href="javascript:void(0)" class=" mr-3 text-danger" title="Supprimer de la liste"><i class="text-danger ti-close"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-3 col-lg-3">
        <div class="card">
            <div class="card-body">
                <small>N° Reçu</small>
                <h2>{{ keyGen }}</h2>
                <small>Client / Destination<span class="font-12 text-danger">&nbsp;*</span></small>
                <input [(ngModel)]="client" type="text" class="form-control" placeholder="Saisir nom ici">
                <hr>
                <small>Total Net à payer</small>
                <h2>{{ total }}&nbsp;CFA</h2>
                <small>Montant Espèce reçu<span class="font-12 text-danger">&nbsp;*</span></small>
                <input [(ngModel)]="monnaie" type="number" value="0" min="0" step="5" class="form-control" placeholder="Saisir montant ici">
                <small>Monnaie rendue</small>
                <h2 *ngIf="!total">0&nbsp;CFA</h2>
                <h2 *ngIf="total">{{ total - monnaie }}&nbsp;CFA</h2>
                <hr>
                <div class="form-actions" style="width: 100%;margin-top: 40px">
                    <div class="text-center">
                        <button *ngIf="total" [disabled]="!client" type="submit" class="btn btn-success m-r-1">Commander</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>