
<div class="card">

    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center col-md-12 ">
            <div>
                <div _ngcontent-c4="" class="custom-control custom-radio">
                    <input _ngcontent-c4="" (click)="check($event)" class="custom-control-input" id="customRadio2" name="customRadio" type="radio"><label _ngcontent-c4="" class="custom-control-label" for="customRadio2">Jour</label>
                </div>
                <div _ngcontent-c4="" class="custom-control custom-radio">
                    <input _ngcontent-c4="" (click)="check($event)"  class="custom-control-input" id="customRadio3" name="customRadio" type="radio"><label _ngcontent-c4="" class="custom-control-label" for="customRadio3">Garde</label>
                </div>
            </div>
            <div style="margin-left: 3%"  class="col-md-12">
                <div class="dl">
                    <form class="m-b-0" style="width: 200px; display: inline-block; float-left">
                      <input type='date' class="form-control" title="periode" (change)='change($event)' />
                    </form>
                    <form class="m-b-0" style="width: 200px; display: inline-block; margin-left: 40px">
                        <input type='text' class="form-control" title="Recherche" placeholder='Rechercher par n° reçu...' (keyup)='updateFilter($event)' />
                    </form>
                </div>
            </div>
            <div  class="col-md-12 float-right">
                <div class="dl">
                    <button class="btn btn-info" (click)="imprimer()" type="button"><i class="fa fa-print"></i>   imprimer</button>
                </div>
            </div>

        </div>
        <!-- title -->
    </div>
    <div class="table-responsive col-md-12" style="display: inline-block">
        <table #table class="table v-middle col-md-12">
            <thead>
                <tr class="bg-light">
                    <th>Reçu N°</th>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Designation</th>
                    <th>Prix unitaire</th>
                    <th>Qte</th>
                    <th>Montant total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of collection">
                    <td>{{ item.keyGen }}</td>
                    <td>{{ item.register }}</td>
                    <td>{{ item.name_client }}</td>
                    <td>{{ item.libelle }}</td>
                    <td>{{ item.priceVente }}</td>
                    <td>{{ item.quantite }}</td>
                    <td>{{ item.priceVente * item.quantite }}</td>
                </tr>
            </tbody>
       </table>
    </div>
</div>
<div class="imprimer" id='sectionAimprimer'>
    <div class="milieu">
        <div class="gauche">
            <h2>CSUCOM <br> RIVIERA PALMERAIE</h2>
            <h4>04 BP 2258 ABIDJAN 04</h4>
            <h4>TEL : 22 47 26 78</h4>
        </div>
        <div class="droit">
            <div class="titre">
                <h2 style="">ETAT GENERAL DES VENTES</h2>
                <p class="rotate"></p>
            </div>
            
        </div>
    </div>
    <br><hr style="margin-top: 20px">
    <div>
        <table class="tableau1">
            <tr>
                <td>ETAT : <span style="color:red">garde/jour</span> </td>
                
            </tr>
        </table>
    </div>
    <div class="debut">
        CAISSE DE LA PHARMACIE
    </div>
    <br><br>
        <table class="tableau" border="1">
            <thead>
                <th>Reçu N°</th>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Designation</th>
                    <th>Prix unitaire</th>
                    <th>Qte</th>
                    <th>Montant total</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of collection">
                    <td>{{ item.keyGen }}</td>
                    <td>{{ item.register }}</td>
                    <td>{{ item.name_client }}</td>
                    <td>{{ item.libelle }}</td>
                    <td>{{ item.priceVente }}</td>
                    <td>{{ item.quantite }}</td>
                    <td>{{ item.priceVente * item.quantite }}</td>
                </tr>
            </tbody>
    
        </table>
        <style type="text/css" media="screen">
                .imprimer
                {
                    display:none;
                }
                
            </style>
    <style type="text/css" media="print">
        *{box-sizing: border-box;}
        body{
            margin: 50px;
        }
        .milieu{
            width: 98%;
            height: 160px;
            margin: 10px;
            margin-top: 30px;
        }
        .gauche{
            float: left;
            width: 23%;
            background-color: #eeeeee;
            height: 160px;
            padding-left: 10px
        }
        .droit{
            float: right;
            width: 70%;
            background-color: #eeeeee;
            height: 160px
        }
        .titre{
            width: 80%;
            float: left;
            height: 80px;
            border: 2px solid black;
            margin-top: 30px;
            margin-left: 30px;
            text-align: center;
        }
        .tableau1{
            border-collapse: collapse;
            width: 100%;
            height: 40px;
            font-size: 20px
        }
        .debut{
            width: 80%;
            border: 1px solid black;
            height: 40px;
            margin-top: 30px;
            margin-left: 10%;
            text-align: center;
            font-size: 30px;
    
        }
        .tableau{
                width: 100%;
                height: 100%;
                border-collapse: collapse;
                text-align: center;
            }
            .imprimer
                {
                    display:block;
                }
            .rotate{
                writing-mode: tb-rl;
                height: 80%; margin: 10% 0%;
                width: 100%
            }
    </style>
    </div>
    <script>
    function imprimer() {
          var printContents = document.getElementById('sectionAimprimer').innerHTML;    
       var originalContents = document.body.innerHTML;      
       document.body.innerHTML = printContents;     
       window.print();     
       document.body.innerHTML = originalContents;
       }
    </script>
    