<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Libéllé<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input type="text" id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Famille<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <select class="form-control" data-placeholder="Choisir une famille" tabindex="1">
                                        <option value="Category 1">Category 1</option>
                                        <option value="Category 2">Category 2</option>
                                        <option value="Category 3">Category 5</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Description 1</label>
                                    <textarea class="form-control" rows="4">Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. but the majority have suffered alteration in some form, by injected humour</textarea>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Description 2</label>
                                    <textarea class="form-control" rows="4">Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. but the majority have suffered alteration in some form, by injected humour</textarea>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Prix d'achat<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input type="number" min="0" id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Prix de vente<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input type="number" min="0" id="firstName" class="form-control" placeholder=""> 
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Référence<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input type="text" id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Date de péremption<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input type="date" id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Qte Stock<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input type="number" min="0" id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Conditionnement<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input type="text" id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="file" class="btn btn-info">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group text-right">
                                            <button type="submit" class="btn btn-success m-r-5">
                                                <i class="fa fa-check"></i> Enregister</button>
                                            <button type="button" class="btn btn-dark">Tout Annuler</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="el-element-overlay col-md-3">
                                    <div class="el-card-item">
                                        <div class="el-card-avatar el-overlay-1">
                                            <img src="assets/images/gallery/chair3.jpg" alt="user" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>