<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Libéllé<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input ngModel type="text" name="libelle" required id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Famille<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <select required ngModel  name="famille_id" class="form-control" data-placeholder="Choisir une famille" tabindex="1">
                                        <option disabled  selected="true">Choisir la famille</option>
                                        <option *ngFor="let item of data">{{ item.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Prix d'achat<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input ngModel name="priceAchat" required  type="number" min="0" id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Prix de vente<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input ngModel name="priceVente" required  type="number" min="0" id="firstName" class="form-control" placeholder=""> 
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Référence<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input disabled  type="text" id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Date de péremption<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input ngModel  name="date_peremption" required  type="date" id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Qte Stock<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input ngModel name="qtes" required  type="number" min="0" id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Conditionnement</label>
                                    <input ngModel  name="cond"   type="text" id="firstName" class="form-control" placeholder=""> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="form-group text-right">
                                    <button [disabled]="!f.form.valid" type="submit" class="btn btn-success m-r-5">
                                        <i class="fa fa-check"></i> Enregister</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>