<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<app-info-card [data]="info" ></app-info-card>
<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!--<app-sales></app-sales>-->
<charts-js></charts-js>
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Liste des patients à libérer -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <app-topsell [data]="data" ></app-topsell>
    </div>
</div>
<!-- ============================================================== -->
<!-- Top Selliing Products -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <!---div class="col-lg-6">
        <app-comment></app-comment>
    </div>
    <! column >
    <div class="col-lg-6">
        <app-chat></app-chat>
    </div-->
</div>
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->