<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nom<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input autofocus type="text" id="firstName" class="form-control" placeholder=""> 
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Prenom<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <input type="text" id="firstName" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Sexe<span class="font-12 text-danger">&nbsp;*</span></label>
                                    <select class="form-control" data-placeholder="Choisir une famille" tabindex="1">
                                        <option value="Category 1">Homme</option>
                                        <option value="Category 2">Femme</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Age</label>
                                    <input type="number" min="0" step="1" id="firstName" class="form-control" placeholder="">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Adresse</label>
                                    <input type="text" id="firstName" class="form-control" placeholder=""> 
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-success m-r-5" style="margin-top: 6%">
                                        <i class="fa fa-check"></i> Enregister
                                    </button>
                                </div>
                            </div>
                            <!--/span-->
                         </div>
                        <div class="row">
                            <div _ngcontent-c5="" class="custom-control custom-checkbox">
                                <input _ngcontent-c5="" checked="" class="custom-control-input" id="customCheck2" type="checkbox"><label _ngcontent-c5="" class="custom-control-label" for="customCheck2">Assuré (à jour)</label>
                            </div>
                         </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>