
<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <button class="btn btn-info" type="button"><i class="far fa-edit"></i>   corriger</button>
            </div>
            <div class="ml-auto">
                <div class="dl">
                    <form class="m-b-0" style="width: 200px">
                      <input type='text' class="form-control" placeholder='Rechercher...' (keyup)='updateFilter($event)' />
                    </form>
                </div>
            </div>
        </div>
        <!-- title -->
    </div>
    <div class="table-responsive col-md-12" style="display: inline-block">
            <table #table class="table v-middle col-md-12">
                <thead>
                    <tr class="bg-light">
                        <th style="width: 5%">N°</th>
                        <th style="width: 15%">Famille</th>
                        <th style="width: 25%">Désignation</th>
                        <th style="width: 5%">PU Achat</th>
                        <th style="width: 5%">PU Vente</th>
                        <th style="width: 10%">Statut</th>
                        <th style="width: 10%">Qte Stock</th>
                        <th style="width: 10%">Qte Rest.</th>
                        <th style="width: 10%">Stock Réel</th>
                        <th style="width: 5%">Péremption</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr *ngFor="let item of collection">
                            <td>{{ item.n }}</td>
                            <td>{{ item.famille }}</td>
                            <td>{{ item.designation }}</td>
                            <td>{{ item.puachat }}</td>
                            <td>{{ item.puvente }}</td>
                            <td class="text-center">
                                <label *ngIf=" 0 == item.statut" class="label label-danger label-rounded">&nbsp;&nbsp;&nbsp;&nbsp;Fini&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <label *ngIf=" 1 == item.statut" class="label label-success label-rounded">En stock</label>
                            </td>
                            <td>{{ item.qtestock }}</td>
                            <td>{{ item.qterest }}</td>
                            <td><input class="form-control" required type="number" value='{{ item.stockreel }}' min="0" step="1"></td>
                            <td>{{ item.peremption }}</td>
                        </tr>
                    </tbody>
                </table>

        </div>
</div>