
<div class="row">
    <div class="table-responsive col-md-9" style="display: inline-block">
            <table #table class="table v-middle col-md-12">
                <thead>
                    <tr class="bg-light">
                        <th class="border-top-0 ">N°</th>
                        <th class="border-top-0 ">Patient</th>
                        <th class="border-top-0 text-center">Chambre</th>
                        <th class="border-top-0 text-center">Lit</th>
                        <th class="border-top-0 text-center">Date</th>
                        <th class="border-top-0 text-center">Sortie</th>
                        <th class="border-top-0 text-center">Actions</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr *ngFor="let item of collection; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ item.nom }}</td>
                            <td class="text-center">CH&nbsp;{{ item.chambre }}</td>
                            <td class="text-center">L&nbsp;{{ item.lit }}</td>
                            <td class="text-center">{{ item.back_date }}</td>
                            <td class="text-center">{{ item.enter_date }}</td>
                            <td class="text-center">
                                <a  href="javascript:void(0)" class="mr-3 text-inverse text-center" title="Voir profil"><i class="ti-user text-dark"></i></a>
                            </td>
                        </tr>
                    </tbody>
            </table>

        </div>
    <div class="col-md-3">
        <div class="comment-widgets scrollable" style="height:auto;">
            <div class="card">
                <div class="card-body">
                <form (ngSubmit)="onSubmit(f)"  #f="ngForm" >
                    <h5 class="card-title">SAISIE D'INFORMATION</h5>
                    <hr>
                    <small>N° de reçu<span class="font-12 text-danger">&nbsp;*</span></small>
                    <input (keyup)="updateFilter($event)" class="form-control" placeholder="000333">
                    <div *ngIf="filterData.length > 0">
                        <small>Nom du patient</small>
                        <h4 *ngFor="let item of filterData">{{filterData[0].nom}} {{filterData[0].prenom}}</h4>
                        <small>Numero</small>
                        <h4>03030303</h4>
                        <small>Sexe</small>
                        <h4>Homme</h4>
                    </div>
                    <h4 class="text-danger" *ngIf="filterData.length < 1">Aucun client trouvé</h4>

                    <hr>
                    <div class="form-group m-b-30">
                        <select ngModel name="chambre" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option value="{{ item.id }}" *ngFor="let item of chambre">{{ item.libelle | uppercase }}</option>
                        </select>
                    </div>
                    <div class="form-group m-b-30">
                        <select ngModel name="lit" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option value="{{ item.id }}" *ngFor="let item of lit">{{ item.lib | uppercase }}</option>
                        </select>
                    </div>
                    <small>Date de Sortie<span class="font-12 text-danger">&nbsp;*</span></small>
                    <input ngModel name="date" type="date" class="form-control" id="mdate" required>
                    <input ngModel name="time" type="time" class="form-control" id="mdate" required>
                    
                    <hr>
                    <div class="form-group col-md-12 text-center">
                        <button type="submit" [disabled]="!f.form.valid || !filterData.length > 0" class="btn btn-success mr-1">Enreg</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    
</div>