                <div class="card-group">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="ml-auto">
                                    <h2 class="m-b-0 font-light">{{ data.totalClient }} </h2><span> Total patient
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="ml-auto">
                                    <h2 class="m-b-0 font-light">{{ data.totalPrescription }} </h2><span> Prescription</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="ml-auto">
                                    <h2 class="m-b-0 font-light">{{ data.totalClient }} </h2><span> 0bservation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="ml-auto">
                                    <h2 class="m-b-0 font-light">{{ data.totalDeficite }} </h2><span>En déficite</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="ml-auto">
                                    <h2 class="m-b-0 font-light">{{ data.SumPhar }} </h2><span> Total pharmacie</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="ml-auto">
                                    <h2 class="m-b-0 font-light">{{ data.totalSumPres }} </h2><span> Caisse générale</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
