<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <button (click)="imprimer()" class="btn btn-info" type="button"><i class="fa fa-print"></i>   imprimer</button>
            </div>
            <div class="ml-auto">
                <div class="dl">
                    <form class="m-b-0" style="width: 200px">
                      <input type='text' class="form-control" placeholder='Rechercher...' (keyup)='updateFilter($event)' />
                    </form>
                </div>
            </div>
        </div>
        <!-- title -->
    </div>
    <div class="table-responsive">
        <table #table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">N°</th>
                    <th class="border-top-0">NOM</th>
                    <th class="border-top-0">Prenom(s)</th>
                    <th class="border-top-0">Date</th>
                    <th class="border-top-0">Prescription</th>
                    <th class="border-top-0">Coût</th>
                    <th class="border-top-0">Ristourne</th>
                    <th class="border-top-0">Prescripteur</th>
                </tr>
             </thead>
            <tbody>
                <tr *ngFor="let item of collection; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.nom }}</td>
                    <td>{{ item.prenom }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.desig }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.ristourne }}%</td>
                    <td>{{ item.medecin }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="imprimer" id='sectionAimprimer'><div class="milieu">
        <div class="gauche">
            <h2>CSUCOM <br> RIVIERA PALMERAIE</h2>
            <h4>04 BP 2258 ABIDJAN 04</h4>
            <h4>TEL : 22 47 26 78</h4>
        </div>
        <div class="droit">
            <div class="titre">
                <h2 style="">FICHE RESUME DES PRESCRIPTEURS</h2>
                <p class="rotate"></p>
            </div>
            
        </div>
    </div>
    <br><hr style="margin-top: 20px">
    <div class="debut">
        LISTE GENERALE DES PRESCRIPTIONS
    </div>
    <br><br>
        <table class="tableau" border="1" >
            <thead>
                <th class="border-top-0">N°</th>
                <th class="border-top-0">NOM</th>
                <th class="border-top-0">Prenom(s)</th>
                <th class="border-top-0">Date</th>
                <th class="border-top-0">Prescription</th>
                <th class="border-top-0">Coût</th>
                <th class="border-top-0">Ristourne</th>
                <th class="border-top-0">Prescripteur</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of collection; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.nom }}</td>
                    <td>{{ item.prenom }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.desig }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.ristourne }}%</td>
                    <td>{{ item.medecin }}</td>
                </tr>
            </tbody>
    
        </table>
        <style type="text/css" media="screen">
            .imprimer
            {
                display:none;
            }
            
        </style>
        <style type="text/css" media="print">
    
        .milieu{
            width: 98%;
            height: 160px;
            margin: 10px;
            margin-top: 30px;
        }
        .gauche{
            float: left;
            width: 23%;
            background-color: #eeeeee;
            height: 160px;
            padding-left: 10px
        }
        .droit{
            float: right;
            width: 70%;
            background-color: #eeeeee;
            height: 160px
        }
        .titre{
            width: 80%;
            float: left;
            height: 80px;
            border: 2px solid black;
            margin-top: 30px;
            margin-left: 30px;
            text-align: center;
        }
        .tableau1{
            border-collapse: collapse;
            width: 100%;
            height: 40px;
            font-size: 20px
        }
        .debut{
            width: 80%;
            border: 1px solid black;
            height: 40px;
            margin-top: 30px;
            margin-left: 10%;
            text-align: center;
            font-size: 30px;
    
        }
        .tableau
        {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        .rotate
        {
            writing-mode: tb-rl;
            height: 80%; margin: 10% 0%;
        }
    </style>
    </div>
    <script>
    function imprimer() {
    //    var printContents = document.getElementById('sectionAimprimer').innerHTML;    
    //    var originalContents = document.body.innerHTML;      
    //    document.body.innerHTML = printContents;     
    //    window.print();     
    //    document.body.innerHTML = originalContents;
    alert("sa marche");
    console.log("sa marche");
    }
</script>