<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div class="ml-auto">
                        <div class="dl">
                            <form style="width: 200px; margin-bottom: 20px;">
                                <input type='text' class="form-control" placeholder='Rechercher...' (keyup)='updateFilter($event)' />
                            </form>
                        </div>
                    </div>
                </div>
                    <!-- title -->
                <div class="table-responsive">
                    <table class="table v-middle product-overview" id="zero_config">
                        <thead>
                            <tr>
                                <th style="width: 1%">N°</th>
                                <th>Designation</th>
                                <th>Pu Vente</th>
                                <th>En stock</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of collection; let i = index">
                                <td>{{ i+1 }}</td>
                                <td>{{ item.libelle }}</td>
                                <td>{{ item.priceVente }}</td>
                                <td>
                                    <label *ngIf=" 5 < item.qtes"  class="label label-success label-rounded">{{ item.qtes }}</label>
                                    <label *ngIf=" 5 > item.qtes"   class="label label-danger label-rounded">{{ item.qtes }}</label>
                                </td>
                                <td class="text-right">
                                    <a [disabled]="item.qtes == 0" (click)="addToCart(i)" href="javascript:void(0)" class=" mr-3 text-danger" title="Ajouter au panier"><i class="text-success icon-Add-Bag"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="test">
        <button [routerLink]="['/ecom/cart']"  class="t btn btn-primary btn-circle btn-xl" title="Commander maintenant !" type="button"><i class="icon-Add-Bag"></i></button>
        <span class="sup-class">{{ count }}</span>
    </div>
</div>